{% extends 'InternitSiteBaseBundle:Email:template.html.twig' %}
{% block texto %}
	<p>Seu interesse no imóvel {{ imovel.name }} foi registrado com sucesso. Em breve estaremos te retornando.</p>
{% endblock %}