{% extends 'InternitSiteBaseBundle:Email:template.html.twig' %}
{% block texto %}
	<p>Currículo enviado com sucesso.</p>
	<p>Assim que precisarmos de algum profissional com o seu perfil, entraremos em contato.</p>
{% endblock %}