<li>
	<a href="javascript:;" class="selecionar botao_acao">
		<span class="quadrado">Selecionar</span><span class="seta"></span>
	</a>
	<ul class="subcontrole">
		<li><a href="#">Todos</a></li>
		<li><a href="#">Nenhum</a></li>
		<li><a href="#">Ativados</a></li>
		<li><a href="#">Desativados</a></li>
	</ul>
</li>