<nav>
	<ul>
		<li><a href="{{ path("tupi_admin") }}">Início</a></li>
		<li><a href="{{ path("tupi_media_home") }}">Arquivos e Imagens</a></li>
		<!--
		<li><a href="#">Módulos</a>
			<ul class="submenu">
				<li><a href="#">Estabelecimentos</a></li>
				<li><a href="#">Colunistas</a></li>
				<li><a href="#">Notícias</a></li>
				<li><a href="#">Eu vi, eu conto</a></li>
			</ul>
		</li>
		-->
		<li><a href="{{ path("tupi_page_home") }}">Páginas</a></li>
		<!--		
		<li><a href="#">Conteúdo</a>
			<ul class="submenu">
				<li><a href="{{ path("tupi_page_home") }}">Páginas</a></li>
				<li><a href="#">Blocos</a></li>
				<li><a href="#">Plug-ins</a></li>
			</ul>
		</li>
		-->
		<!--
		<li><a href="#">Cadastros</a></li>
		<li><a href="#">Contatos</a></li>
		-->
	</ul>
</nav>