{% extends 'InternitSiteBaseBundle:Template:layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/internitsitebase/css/secundarias.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% set body_class = 'secundarias portfolio' %}

{% block content %}
<div class="container">    
    <h2>Portfolio</h2>
    
    <ul>
    	<li class="col-md-4 col-sm-4">
    		<a href="http://lorempixel.com/200/140/nature" rel="prettyPhoto['portfolio']">
	    		<div class="segura-img">
	    			<img src="http://lorempixel.com/200/140/nature" width="100%">
	    			<p class="ver-fotos">Ver fotos <span>+</span></p>
	    		</div>
	    		<div class="clearfix"></div>
	    		<div>
	    			<h3>Galeria de fotos 01</h3>
	    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ullamcorper commodo sagittis donec tincidunt justo ac turpis.</p>
	    		</div>
    		</a>
    	</li>
    	
    	<li class="col-md-4 col-sm-4">
    		<a href="http://lorempixel.com/200/140/nature" rel="prettyPhoto['portfolio']">
	    		<div class="segura-img">
	    			<img src="http://lorempixel.com/200/140/nature" width="100%">
	    			<p class="ver-fotos">Ver fotos <span>+</span></p>
	    		</div>
	    		<div class="clearfix"></div>
	    		<div>
	    			<h3>Galeria de fotos 01</h3>
	    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ullamcorper commodo sagittis donec tincidunt justo ac turpis.</p>
	    		</div>
    		</a>
    	</li>
    	
    	<li class="col-md-4 col-sm-4">
    		<a href="http://lorempixel.com/200/140/nature" rel="prettyPhoto['portfolio']">
	    		<div class="segura-img">
	    			<img src="http://lorempixel.com/200/140/nature" width="100%">
	    			<p class="ver-fotos">Ver fotos <span>+</span></p>
	    		</div>
	    		<div class="clearfix"></div>
	    		<div>
	    			<h3>Galeria de fotos 01</h3>
	    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ullamcorper commodo sagittis donec tincidunt justo ac turpis.</p>
	    		</div>
    		</a>
    	</li>
    	
    	<li class="col-md-4 col-sm-4">
    		<a href="http://lorempixel.com/200/140/nature" rel="prettyPhoto['portfolio']">
	    		<div class="segura-img">
	    			<img src="http://lorempixel.com/200/140/nature" width="100%">
	    			<p class="ver-fotos">Ver fotos <span>+</span></p>
	    		</div>
	    		<div class="clearfix"></div>
	    		<div>
	    			<h3>Galeria de fotos 01</h3>
	    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ullamcorper commodo sagittis donec tincidunt justo ac turpis.</p>
	    		</div>
    		</a>
    	</li>
    	
    	<li class="col-md-4 col-sm-4">
    		<a href="http://lorempixel.com/200/140/nature" rel="prettyPhoto['portfolio']">
	    		<div class="segura-img">
	    			<img src="http://lorempixel.com/200/140/nature" width="100%">
	    			<p class="ver-fotos">Ver fotos <span>+</span></p>
	    		</div>
	    		<div class="clearfix"></div>
	    		<div>
	    			<h3>Galeria de fotos 01</h3>
	    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ullamcorper commodo sagittis donec tincidunt justo ac turpis.</p>
	    		</div>
    		</a>
    	</li>
    </ul>
    
</div>
{% endblock %}